<footer role="contentinfo">
	<div class="hr"></div>
	<div class="footer-link">
		{{ with .Site.Params.email }}<a href="mailto:{{ . }}" target="_blank"><i class="fa fa-envelope fa-2x"></i></a>{{ end }}
		{{ with .Site.Params.twitter }}<a href="https://twitter.com/{{ . }}" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>{{ end }}
		{{ with .Site.Params.facebook }}<a href="https://www.facebook.com/{{ . }}" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>{{ end }}
		{{ with .Site.Params.github }}<a href="https://github.com/{{ . }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>{{ end }}
		{{ with .Site.Params.linkedin }}<a href="https://linkedin.com/{{ . }}" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>{{ end }}
		{{ if .OutputFormats.Get "RSS" }}
		<a href="{{ .OutputFormats.Get " RSS" }}"><i class="fa fa-rss fa-2x"></i></a>
		{{ end }}
	</div>
	<div class="copyright">Copyright &copy; {{ .Site.Copyright | safeHTML }}</div>
</footer>

{{ partial "google_analytics" . }}

</div>
</body>

</html>
